@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Montserrat:wght@100&family=Work+Sans:wght@400;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #0000;
  color: #F4F4F4;
}

header {
  background-image: linear-gradient(to right, #018FA6, #E5E900);
  box-shadow: 0px 3px 6px #494741;
  padding: 15px;
}

header input {
  display: inline-block;
  color: #F4F4F4;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none; 
  appearance: none;
}

header:before {
  content: '/r/';
  color: #F4F4F4;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff; 
}

::placeholder {
  color: #cac7ff;
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #E0E111;
  cursor: pointer;
}

.logo {
  background-image: linear-gradient(to right, #018FA6, #E5E900);
}

.logo h1 {
  background-image: linear-gradient(to right, #018FA6, #E5E900);
}

.container {
  justify-content: space-between;
}

main {
  width: max-content;
}

.post-list-item {
  padding: 30px 15px;
  background-color: black;
  color: #F4F4F4;
}

.post-list-item a {
  text-decoration: none;
}

.post-list-item h3 {
  color: #F4F4F4
}

.post-list-item:nth-child(2n) {
  background-color: #0D0D0D;
}

.post-image {
  max-width: fit-content;
  height: 1500px;
  object-fit: contain;
  object-position: left;
}

.sidebar {
  position: fixed;
  top: 158px;
  right: 0;
  height: 1000px;
  width: auto;
  background-image: linear-gradient(to right, #494741, #0000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
